**/.classpath
**/.project
**/.settings
**/.factorypath
**/.vscode/
**/.idea/
**/bin/
**/obj/
**/.vs/
**/TestResults/
**/*.user
**/*.suo
**/*.cache
**/*.dll
**/*.exe
**/*.pdb
**/node_modules/
**/bower_components/
