# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# NuGet Packages
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Rider IDE
.idea/

# Runtime files
*.dll
*.pdb
*.exe
*.runtimeconfig.json
